/* if you are using any Google fonts change the font names below to your fonts. 
Any spaces in your font name should be replaced with a +. 
Fonts are separated by a | */
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Gabriela&family=Merriweather:wght@300&display=swap');




/* Section 1: Home top */
.home-top {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  background-color: #191970;
}


/* Section 2: Header */
header {
  display: grid;
  grid-template-columns: 150px auto;
  background-color: #191970;
}

/* Section 3: Navigation */
nav a:hover {
  background-color: #fffdd0;
  color: #191970;
}

nav {
  display: flex;
  justify-content: space-around;
}

nav a {
  text-align: center;
  text-decoration: none;
  color: #ffd700;
  padding: 35px;
  font-size: xx-large;
}

/* Styles for the main section */
.home-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 2rem;
  margin: 2rem;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.hero-image {
  width: 100%;
  height: 700px;
  

}


.hero-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}


.contact {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #0077b5;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
}

.contact:hover {
  background-color: #005d8f;
}

.projects-1w,
.future-projects-1w {
  text-align: center;
  font-size: 2rem;
  
}

#projects-1i,
#future-projects-1i {
  width: 100%;
  height: auto;
  object-fit: cover;
  padding-right: 200px;
}

/* Styles for the footer section */
footer {
  
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #191970;
  color: #ffd700;
  font-size: 0.8rem;
  z-index: 6;
}


h2 {
  text-align: center;
}

h2:hover {
  color: red;
}

.hero-title1 {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  z-index: 1;
  color: #ffd700;
  font-family: Cinzel, Helvetica, sans-serif;
}

.hero-p {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%); 
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 1.5rem;
  text-align: right;
  font-family: "Gabriela, Merriweather";
}

#hero-box {
  position: relative;
}

body{
  margin: 0;
}

.logo {
  position: absolute;
  top: 20%;
  left: 10%;
  transform: translateX(-50%);
  width: 400px;
  height: 500px;
  margin: 1rem;
}



.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;

}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: auto;
  padding-right: 200px;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: auto;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  padding-left: 100px;
}

.flip-card-front {
  background-color: transparent;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}
.logo1 {
  width: 30%;
}

#f2 {
  padding: 25px 50px;
  margin-top: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: medium;
  color: #ffd700;
}

.hero1 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto auto;
  grid-gap: 20px;
  justify-items: center;
  align-items: center;
}

.hero-msg {
  grid-column: 1 / 13;
  text-align: center;
}

.hero-box {
  grid-column: 4 / 10;
}

.social {
  position: relative;
  z-index: 2;
  grid-column: 1 / 11;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%; /* make the width of social icons container smaller so the icons can be larger and more spaced out */
  max-width: 600px; /* set a max width for the container so it doesn't become too wide on large screens */
  margin-top: 100px;
  padding-top: 20px;
}

.social-image {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 600%;
  height: auto;
}

.social img {
  transform: scale(1.5);
}

.hero-box-2 {
  grid-column: 1 / 13;
  grid-row: 3;
}

#hero-img {
  max-width: 100%;
  height: auto;
}

.hero-box img#hero-img-2 {
  width: 1500px;
  height: 600px;
}

.hero-box:nth-of-type(2) {
  position: relative;
  z-index: 1;
}